eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/ 
  instance:
    hostname: localhost
    
microservice:
  order-service:
    endpoints:
      endpoint:
        uri: http://ORDER_SERVICE/api/orders/book-order
  payment-service:
    endpoints:
      endpoint:
        uri: http://http://PAYMENT-SERVICE/api/payment/do-payment
